.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.personal-website div{
  background-color: rgb(179, 152, 156);
  border-radius: 15px;
  padding: 1vw;
}

#website-title{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63636f;
  margin-top: 0;
  margin-bottom: 0;
  color: pink;
}

#portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueColor{
  color: darkblue;
}

.greenColor{
  color: darkred;
}

#portfolio div{
  display: flex;
  width: 50vw;
  height: 3vh;
  align-items: center;
  justify-content: center;
}

#portfolio h3{
  margin-right: 20px;
}

#about, 
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  background-color: rgb(238, 212, 216);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
